@charset "UTF-8";
*{
    padding: 0;
    margin:0;
}
section{
    width: 100%;
    height: 200px;
    text-align: center;
    padding: 40px 4%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color:black;
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat ;
    background-attachment: fixed;
    background-color:#f0eed2 ;

}
h1{
    margin-bottom: 20px;
   /* font-weight:*/;
  
}
section p{
    text-align:justify ;
    font-style:italic;


}
section:nth-of-type(1){
   background-image: url("leandra.jpg");
   justify-content: center;
   height: 50vh;
   width:100%;
   color: #fff;
   text-align: center;
   font-size: 78px;  
}

section:nth-of-type(3){
    background-image: url("unsplash.jpg");
    
 }
 section:nth-of-type(5){
    background-image: url("jean.jpg");
 }
 section:nth-of-type(7){
    background-image: url("parallax.png");
 }
 footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
   }
   a{
       color:palegreen;
   }