@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #46244C,#C74B50);
} 
.calc{
    background-color: #BABD42;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    
}
h1{
      color: #fff;
      text-align: center;
      font-size: 40px;
} 

input{
    color: #000;
    padding: 17px;
    outline: none;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 25%;
}
main{
    display: inline-block;
}
.maincolor{
    background-color: #FFCC8F;
}

.num{
    width: 64px;
    height: 67px;
    cursor: pointer;
}
.text{
    width: 160px;
    height: 26px;
    border-radius: 22px;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 12px;
    background-color: #fff; 
}
.text1{
    width: 24px;
    height: 26px;
    border-radius: 22px;
    letter-spacing:  5px;
    text-align: center;
    margin-bottom: 2px;
    cursor: pointer;
    
}

.blue{
    background-color: #3AB0FF;
}
.pink{
background-color: #cf1596;
}
.green{
    background-color: #3EC70B;
}
.orange{
    background-color: #F7EC09;
}
.purple{
     background-color: #A149FA;
}