@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
 body{
     margin: 0;
     font-family:cursive;
     font-size: 20px;

 }
 .mostruario{
     background-image:url('setas.png');
     background-size: cover;
     background-position: center;
     height: 100vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 0 20px;
 }
 .h1{
     font-size: 50px;
     line-height: 1.2;
     text-align: center;
 }
 .p{
     font-size: 20px;
     
 }
 .button{
    font-size:18px;
    text-decoration:none;
    color:#1bca78;
    border:#1bca78 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
    align-items: center;
 }
 .button:hover{
     background:#9b2e95 ;
     color: #fff;
 }
 #A{
    padding:20px;
    background:#39927c;
    color:#fff;
    text-align:center;
 }
 #B{
    padding:20px;
    background:#f4f4f4;
    text-align:center;
 }
 #C{
     display: flex;
 }
 #C div{
     padding: 20px;
 }
 #C .box-1, #C .box-3{
    background:#92396d;
    color:#fff;
 }
 #C .box-2{
    background:#f9f9f9;
 }